# Copy this file to a new file ".env" and update with
# the client-side key you create from your own account.
REACT_APP_FLAGSMITH_ENVIRONMENT_ID="YOUR_FLAGSMITH_CLIENT_SIDE_ENVIRONMENT_KEY"

# If you're using a different Flagsmith endpoint (for example,
# using a local docker compose container), set it here.
REACT_APP_FLAGSMITH_API="https://edge.api.flagsmith.com/api/v1/flags/"
